[submodule "pico-docs"]
	path = pico-docs
	url = https://github.com/picocomputer/picocomputer.github.io.git
[submodule "firmware"]
	path = firmware
	url = https://github.com/picocomputer/rp6502.git
[submodule "pico-examples"]
	path = pico-examples
	url = https://github.com/picocomputer/examples.git
[submodule "cc65"]
	path = cc65
	url = https://github.com/picocomputer/cc65.git
